DIV.aligncenter  {text-align:center}
DIV.alignright   {text-align:right}
DIV.alignjustify {text-align:justify}
DIV.alignleft    {text-align:left}
A                {text-decoration: none}

button{
	margin: 0;	
}

/*List defaults*/
ol, ul    {margin: 0;	
		padding: 0;	
		border: 0;	
		font-size: 100%;	
		font: inherit;	
		vertical-align: baseline;
		list-style: none;}


/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */  
//@media screen and (-webkit-min-device-pixel-ratio:0) {  
//  ol, ul { -webkit-margin-before:2px;
//		 -webkit-padding-after:2px;}
//}

/* CSS Statements that only apply on IE (8, 9, 10, 11) */  
@media screen\0 {  
  ol, ul { margin-left:1px;}
}

/* CSS Statements that only apply on Firefox */  
@-moz-document url-prefix() { 
  ul { margin-left:1px;}
  ol { margin-left:-1px;}
}

/* Enable Printing for Webkit-based browsers */
@media print{
	label, ol, ul, li {-webkit-print-color-adjust:exact;}
}
/* Set Printing size, IE8 requires 0 margin */
@page {
	size: 8in 11in;  /* width height */
	margin: 1cm;
	margin: 0\0/;
}

div[id^="text"] h1, div[id^="text"] h2, div[id^="text"] h3, div[id^="text"] h4, div[id^="text"] h5, div[id^="text"] h6 {
	padding: 0px;
	font-weight: normal;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	margin-block-start: 0em;
	margin-top: 0px;
}

#initClickBtn {
	background : url(MediaPlayer/bigplay.png) no-repeat 0 0;
}

#initClickBtn:hover {
	background: url(MediaPlayer/bigplay.png) no-repeat 0 -100px;
}

