div[id^="button"],
div[id^="textbutton"],
div[id^="image"],
div[id^="shape"],
div[id^="webwidget"] {
  clip: auto !important;
}

:focus {}

p>a:focus {
  border-color: #2491ff;
  outline: #2491ff;
  -webkit-box-shadow: 0 0 0 4px #2491ff;
  -moz-box-shadow: 0 0 0 4px #2491ff;
  box-shadow: 0 0 0 4px #2491ff;
}

div[id^="textbutton"]a:focus,
div[id^="image"] a:focus,
div[id^="anim"] a:focus,
div[id^="shape"] a:focus {
  border-color: #2491ff;
  outline: #2491ff;
  -webkit-box-shadow: 0 0 0 4px #2491ff;
  -moz-box-shadow: 0 0 0 4px #2491ff;
  box-shadow: 0 0 0 4px #2491ff;
}

button:focus {
  border-color: #2491ff;
  outline: #2491ff;
  -webkit-box-shadow: 0 0 0 4px #2491ff;
  -moz-box-shadow: 0 0 0 4px #2491ff;
  box-shadow: 0 0 0 4px #2491ff;
}

/* select:focus, */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="button"]:focus {
  border-color: #2491ff;
  outline: #2491ff;
  -webkit-box-shadow: 0 0 0 4px #2491ff;
  -moz-box-shadow: 0 0 0 4px #2491ff;
  box-shadow: 0 0 0 4px #2491ff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
div[id^="image"] a:focus img,
div[id^="anim"] a:focus img,
div[id^="shape"] a:focus img,
div[id^="image"] a:focus svg,
div[id^="shape"] a:focus svg,
div[id^="text"] a:focus+div {
  border-color: #2491ff;
  outline: #2491ff;
  -webkit-box-shadow: 0 0 0 4px #2491ff;
  -moz-box-shadow: 0 0 0 4px #2491ff;
  box-shadow: 0 0 0 4px #2491ff;
}

div[id^="image"] a:focus,
div[id^="anim"] a:focus,
div[id^="shape"] a:focus {
  display: block;
  border-color: #2491ff;
  outline: #2491ff;
  -webkit-box-shadow: 0 0 0 4px #2491ff;
  -moz-box-shadow: 0 0 0 4px #2491ff;
  box-shadow: 0 0 0 4px #2491ff;
}

button:focus img,
button:focus svg {
  border-color: #2491ff;
  outline: #2491ff;
  -webkit-box-shadow: 0 0 0 4px #2491ff;
  -moz-box-shadow: 0 0 0 4px #2491ff;
  box-shadow: 0 0 0 4px #2491ff;
}

div[class^="mejs-"] button:focus,
div[class^="mejs-"] span:focus,
div[class^="mejs-"] a:focus {
  border-color: #2491ff;
  -webkit-box-shadow: 0 0 0 4px #2491ff;
  -moz-box-shadow: 0 0 0 4px #2491ff;
  box-shadow: 0 0 0 4px #2491ff;
}

div[class="DLG_titleCloseBtn"]:focus {
  border-color: #2491ff;
  outline: #2491ff;
  -webkit-box-shadow: 0 0 0 4px #2491ff;
  -moz-box-shadow: 0 0 0 4px #2491ff;
  box-shadow: 0 0 0 4px #2491ff;
}

input[type="radio"]:focus+.custRadioL,
input[type="checkbox"]:focus+.custCBL,
input[type="radio"]:focus+.custRadio,
input[type="checkbox"]:focus+.custCB {
  border-color: #2491ff;
  outline: #2491ff;
  -webkit-box-shadow: 0 0 0 4px #2491ff;
  -moz-box-shadow: 0 0 0 4px #2491ff;
  box-shadow: 0 0 0 4px #2491ff;
}